
.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%; */
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-start; 
    height: 350px;
}
.caroousel_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-content-wrapper {
  object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.carousel-content {
  object-fit: cover;
  width: 100%;
  height: 100%;
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
    width: 100%;
    height: 100%;
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.left-arrow, .right-arrow {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 4%;
    height: 8%;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.random-product{
    display: flex;
    justify-content: flex-end;
}



/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');


.carousel {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:#ffffff;
}

.cards-wrapper {
  width:100%;
  height:400px;
  max-width:1200px;
  overflow-x:hidden;
  position:relative;
}

.cards {
  position:absolute;
  top:15px;
  left:50%;
  transform:translateX(-110px);
  display:flex;
  flex-direction:row;
  width:1600px;
  justify-content:space-between;
}

.card {
  padding: 0;
  width:300px;
  height:350px; 
  border-radius:14px;
  border:none;
  font-family: 'Open Sans', sans-serif;
  cursor:pointer;
  box-sizing:border-box;
  color:#000;
}

.card h2 {
  font-size:2.6em;
  font-weight:300;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:14px;
}


.cards-wrapper::after {
  content:'';
  display:block;
  position:absolute;
  top:0;
  width:100%;
  max-width:1200px;
  height:100%;
  background:linear-gradient(90deg, #ffffff 0%, #ffffff00 30%, #ffffff00 70%, #ffffff 100%);
  pointer-events:none;
}

.arrow-btn {
  width:20px;
  height:20px;
  background:#fff;
  border-radius:50%;
  border:none;
  box-shadow: 0 6px 8px #00000030;
  position:absolute;
  top:50%;
  left:20px;
  transform:translateY(-50%);
  z-index:1000;
  cursor:pointer;
}

.arrow-btn-next {
  left:auto;
  right:20px;
}

.arrow-btn svg {
  fill:#333;
  position:absolute;
  height:80%;  
  left:50%;
  top:50%;
  transform:translate(-60%,-50%);
}

.arrow-btn-next svg {
  transform:translate(-40%,-50%);
} */