.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .product-price,
  .product-sdk,
  .product-stock,
  .product-description {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .carousel-page-wrapper{
      width: 60%;
  }