/* .cardItem{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 40px;
} */


.item-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color : black;
    /* margin-left: 20px; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    padding-bottom: 10px; */
  }

.item-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .item-card h2 {
    font-size: 17px;
    margin: 0;
    padding: 10px;
  }
   
  .item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    transform: scale(1.001); 
    z-index: 1; 
  }

  .item-card div{
    color: black;
  }

  .item-card button {
    /* margin: 5px; */
    background-color: white;/* Green */
    border: none;
    color: hsl(249, 20%, 11%);
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .item-card button:hover {
    background-color: hsl(249, 20%, 11%);
    color:white
  }
  
  .item-card div {
    /* display: flex; */
    justify-content: space-evenly;
    /* align-items: center; */
  }
  
  .item-card span {
    align-self: center;
  }
  
  .card-button-wrapper{
    display: flex;
    border-top: 1px outset #ccc;
    /* flex-direction: column; */
  }
  .counter{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    border-right: 1px solid #ccc;
  }
  .button-add-bucket{
    width: 50%;
  }
  .button.minus-plus-button{
    padding: 14px 16px;
  
  }
  .button.in-bucket-button {
    width: 77%;
    height: 59%;
}
  button.add-button {
    width: 89%;
    height: 72%;
  }