.devlist__items {
    /* grid-column: 10 span;
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 20px; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: auto; /* Add left margin */
    margin-right: auto; /* Add right margin */
    max-width: 80%; /* Limit the width of the grid */
    grid-auto-flow: row; 

}

@media screen and (max-width: 600px) {
    .devlist__items {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.carousel-grid-wrapper{
    /* grid-column: span 4; */
    grid-column: 1 / -1;
}

.carousel-grid-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



