
.home-container {
  padding: 20px;
  margin-top: 0;
  padding-top: 20px;
}
/* 
.homepage__container {
   display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: auto; 
  margin-right: auto;
  max-width: 80%; 
  margin-top: 30px;
  margin-left: 0;
  
} */

h1 {
  margin: 0;
  font-size: 24px; /* Размер шрифта уменьшен */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  /* color: #007bff; */
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  /* background-color: #007bff; */
  color: #fff;
}

